<!DOCTYPE html>
<html>
<head>
  <title>Tutormap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Vendor styles -->
  <link rel="stylesheet" href="/assets/metisMenu.css" />
  <link rel="stylesheet" href="/assets/animate.css" />
  <link rel="stylesheet" href="/assets/bootstrap.css" />
  <link rel="stylesheet" href="/assets/sweet-alert.css" />
  <link rel="stylesheet" href="/assets/static_custom.css" />
  <link rel="stylesheet" href="/assets/style.css" />
  <link rel="stylesheet" href="/assets/all.css" />
  <link rel="stylesheet" href="/assets/awesome-bootstrap-checkbox.css" />
  <link rel="stylesheet" href="/assets/blueimp-gallery.min.css" />
  <link rel="stylesheet" href="/assets/bootstrap-clockpicker.min.css" />
  <link rel="stylesheet" href="/assets/bootstrap-datepicker3.min.css" />
  <link rel="stylesheet" href="/assets/bootstrap-datetimepicker.min.css" />
  <link rel="stylesheet" href="/assets/bootstrap-editable.css" />
  <link rel="stylesheet" href="/assets/bootstrap-tour.min.css" />
  <link rel="stylesheet" href="/assets/c3.min.css" />
  <link rel="stylesheet" href="/assets/chartist.css" />
  <link rel="stylesheet" href="/assets/codemirror.css" />
  <link rel="stylesheet" href="/assets/dataTables.bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/footable.core.min.css" />
  <link rel="stylesheet" href="/assets/fullcalendar.min.css" />
  <link rel="stylesheet" href="/assets/fullcalendar.print.css" />
  <link rel="stylesheet" href="/assets/jquery.bootstrap-touchpin.min.css" />
  <link rel="stylesheet" href="/assets/ladda-themeless.min.css" />
  <link rel="stylesheet" href="/assets/select2-bootstrap.css" />
  <link rel="stylesheet" href="/assets/select2.css" />
  <link rel="stylesheet" href="/assets/star-rating.css" />
  <link rel="stylesheet" href="/assets/summernote-bs3.css" />
  <link rel="stylesheet" href="/assets/summernote.css" />
  <link rel="stylesheet" href="/assets/sweet-alert.css" />
  <link rel="stylesheet" href="/assets/toastr.min.css" />

  <!-- App styles -->
  <link rel="stylesheet" href="/assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
  <link rel="stylesheet" href="/assets/pe-icon-7-stroke/css/helper.css" />
  <link rel="stylesheet" href="/assets/style.css">




</head>


<%= yield %>
  <script>
    $(".alert").fadeIn(500).css("opacity","0.85").delay( 6000 ).slideUp( 1000 );
    $('.alerts').on('click','.alert',function(){ $(this).remove() });
  </script>

  <!-- Vendor scripts -->
  <script src="/assets/jquery.min.js"></script>
  <script src="/assets/jquery-ui.min.js"></script>
  <script src="/assets/jquery.slimscroll.min.js"></script>
  <script src="/assets/bootstrap.min.js"></script>
  <script src="/assets/metisMenu.min.js"></script>
  <script src="/assets/icheck.min.js"></script>
  <script src="/assets/index.js"></script>
  <script src="/assets/sweet-alert.min.js"></script>
  <script src="/assets/jquery.flot.spline/index.js"></script>
  <script src="/assets/sweet-alert.min.js"></script>
  <script src="/assets/bootstrap-clockpicker.min.js"></script>
  <script src="/assets/bootstrap-datepicker.min.js"></script>
  <script src="/assets/bootstrap-datetimepicker.min.js"></script>
  <script src="/assets/bootstrap-editable.min.js"></script>
  <script src="/assets/bootstrap-tour.min.js"></script>
  <script src="/assets/buttons.bootstrap.min.js"></script>
  <script src="/assets/buttons.html5.min.js"></script>
  <script src="/assets/buttons.print.min.js"></script>
  <script src="/assets/c3.min.js"></script>
  <script src="/assets/Chart.min.js"></script>
  <script src="/assets/chartist.min.js"></script>
  <script src="/assets/codemirror.js"></script>
  <script src="/assets/curvedLines.js"></script>
  <script src="/assets/d3.min.js"></script>
  <script src="/assets/dataTables.buttons.min.js"></script>
  <script src="/assets/footable.all.min.js"></script>
  <script src="/assets/fullcalendar.min.js"></script>
  <script src="/assets/javascript.js"></script>
  <script src="/assets/jquery.blueimp-gallery.min.js"></script>
  <script src="/assets/bootstrap-touchpin.min.js"></script>
  <script src="/assets/jquery.flot.js"></script>
  <script src="/assets/jquery.flot.pie.js"></script>
  <script src="/assets/jquery.flot.resize.js"></script>
  <script src="/assets/jquery.nestable.js"></script>
  <script src="/assets/jquery.peity.min.js"></script>
  <script src="/assets/jquery.validate.min.js"></script>
  <script src="/assets/ladda.jquery.min.js"></script>
  <script src="/assets/ladda.min.js"></script>
  <script src="/assets/momment.js"></script>
  <script src="/assets/momment.min.js"></script>
  <script src="/assets/select2.min.js"></script>
  <script src="/assets/spin.min.js"></script>
  <script src="/assets/star-rating.min.js"></script>
  <script src="/assets/summernote.min.js"></script>
  <script src="/assets/toastr.min.js"></script>


  <!-- App scripts -->
  <script src="/assets/homer.js"></script>
  <script src="/assets/charts.js"></script>


</html>
